@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400&display=swap');

body {
  background-color: #f4f7f6;
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
}

.fs-logo {
  width: 1.2rem;
  width: 2rem;
}

.top-header-logo div{
  color: #09f;
  font-weight: 900;
  font-size: 1.5rem;
  padding-left: .3rem;
}
.top-header-logo {
  width: 10rem;
  display: flex;
  line-height: 2.5rem;
  margin-left: 2.5em;
}

.login-box-inner {
  background-color: #f9fafc;
  border-radius: .5rem;
  box-shadow: -4px -5px 22px 12px rgba(238,239,243,0.75);
  -webkit-box-shadow: -4px -5px 22px 12px rgba(238,239,243,0.75);
  -moz-box-shadow: -4px -5px 22px 12px rgba(238,239,243,0.75);
  height: 37.5rem;
  margin: 3.5rem auto;
  padding: 1.8rem 1.2rem 2.5rem;
  width: 80%;
}



.flexed-inner-box {
 align-items: center;
 display: flex;
 justify-content: space-between;
}

.left-img-box {
  text-align: center;
  width: 70%;
}

.left-img-box img {
  height: 37rem;
  /* margin-left: -6rem; */
}

.right-login-box {
  width: 40%;
  margin: -10rem  7rem 0 2rem;
}

.welcome {
  font-size: 2rem;
  font-weight: 400;
  margin-top: -2em;
}

p {
  margin-bottom: 2em;
  font-size: .8rem;
  font-weight: 200;
}

.login-box-wrappe {
  border-radius: 1em;
  height: 7.5em;
}
.email-box {
  border-radius: .5em;
  border-radius: .5em .5em 0 0;
  background-color: #F0F2F3;
  display: flex;
  height: 3.5em;
}
.password-box {
  background-color: #fff;
  border-radius: 0 0 .5em .5em;
  display: flex;
  height: 3.5em;
}
.right-side-input {
  align-items: left;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  margin-left: 1.5em;
}
.lock {
  color: #c4c8cb;
  font-size: 1.6rem;
  margin: 1rem 0 0 1rem; 
}

label {
  font-size: .8rem;
  font-weight: 200;
}
input {
  border: solid 0 transparent;
  background-color: transparent;
  height: 2.5em;
  width: 15.5em;
  font-size: 1rem;
}
input:hover,
input:active,
input:focus {
  background-color: transparent;
  outline: none;
}

.forgot-pass-box {
  display: flex;
  font-size: .8rem;
  font-weight: 300;
  justify-content: space-between;
  /* line-height: 2.7em; */
  padding: .4rem 1.5rem;
}

.remember-me {
  display: flex;
  line-height: 3rem;
}

input[type='checkbox'] {
  width: .8rem;
  margin-right: .4em;
  cursor: pointer;
}
.forgot-pwd {
  /* line-height: 30px; */
  text-decoration: none;
  color: #000;
  cursor: pointer;
  line-height: 3rem;
}

.login-cra-btn {
  display: flex;
  border: none;
}
.btn {
  margin-top: .3rem;
  padding: 1em 2em;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: transparent;
  border-radius: 30px;
  border: none;
}
.login-btn {
  background-color: #78B5DB;
  color: #fff;
}
.cra-btn {
  background-color: #fff;
  cursor: pointer;
  margin-left: 2rem;
}

.social-login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 10rem;
}

.social img {
  width: 2rem;
  padding-right: .5rem;
}

@media (max-width: 1255px) {
  .left-img-box {
    padding-top: 100px;
    text-align: center;
    width: 43%;
  }
  
  .right-login-box {
    margin-top: -10em;
    width: 37%;
  } 
}

@media (max-width: 1188px){
  .flexed-inner-box {
    align-items: left;
    justify-content: space-between;
    margin-top: 1.7em;
   }
   
  .left-img-box {
    display: none;  
   }
   
   .right-login-box {
     /* margin-top: -10em; */
     width: 100%;
    }
   
}
@media (max-width: 805px) {
 .left-img-box {
   display: none;
 }
 
 .right-login-box {
   margin: 5rem 2rem 0;
   width: 75%;
   align-items: center;
 }
}
